################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/AVWClient/v16
/AVWClient/Debug
*.ilk
*.pdb
*.tlog
*.obj
*.idb
*.log
*.suo
*.db
*.exe
*.ipch
/.vs/AVWClient/v15
/Debug
