################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/AVWClient/v16
/AVWClient/Debug
*.ilk
*.pdb
*.lastbuildstate
*.tlog
*.log
*.obj
*.idb
*.exe
